* {
  font-family: "Noto Sans", sans-serif;
}
nav {
  background: #ff1298;
}
.navbar i {
  font-size: 1.2rem;
}

.brand img {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#Hero-Section {
  height: 100vh;
  background: url(../img/modeloriendo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#Hero-Section div {
  position: absolute;
  bottom: 80px;
  left: 20px;
  color: #ad0263;
}

#Hero-Section h1:first-child {
  font-size: 7rem;
  font-family: "Italianno", cursive;
}
#Hero-Section h1:last-child {
  font-size: 5rem;
  font-family: "Italianno", cursive;
}

h2 {
  background: #ff1298bc;
  font-weight: 700;
  color: #ffffff;
  font-family: "Italianno", cursive;
  font-size: 3rem;
  height: 3rem;
}
#sobreMi img {
  width: 80%;
}

#sobreMi p {
  line-height: 2em;
}

.card img {
  width: 80%;
  height: 270px;
  margin-top: 8px;
}

.card-text {
  font-size: 0.8em;
}

.modal-body img {
  width: 70%;
  height: auto;
}

.click {
  font-size: 0.8em;
}

.card-body {
  align-self: flex-end;
}

.boton {
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  background-color: #ff1298;
  border-radius: 6px;
  border: 1px solid #ee1eb5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
}
.boton:hover {
  background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  background-color: #ef027d;
}
.boton:active {
  position: relative;
  top: 1px;
}

.formato {
  font-size: 0.9em;
  font-weight: 700;
}

.precio {
  font-weight: 700;
  color: #ff1298;
  font-size: 1.2em;
}

footer {
  background: #410124;
  color: #fb5fb6;
  font-size: 0.9em;
}

footer img {
  width: 130px;
}

.menuDerecha li {
  list-style: none;
  padding-bottom: 5px;
}
footer i {
  color: #fb5fb6;
  font-size: 1.5em;
}
.copyright {
  font-size: 0.6em;
}
.bandera {
  width: 5%;
}

@media (max-width: 576px) {
  #Hero-Section h1:first-child {
    font-size: 2.5rem;
    color: aliceblue;
  }
  #Hero-Section h1:last-child {
    font-size: 1.8rem;
    color: aliceblue;
  }
  #Hero-Section {
    height: 70vh;
  }
  #Hero-Section hr {
    width: 90%;
  }
  .brand img {
    width: 100px;
  }

  #sobreMi img {
    width: 70vw;
  }
  h2 {
    font-size: 3em;
  }
  .tarjetas {
    width: 90%;
  }
  .card img {
    width: 60%;
  }
  footer ul {
    display: inline-flex;
  }
  #pie,
  #menuFooter {
    display: none;
  }
}

/* sobre mi */
